body {
    background: #000 url(background_image.jpg);
    color: rgb(245,245,245);
    font-family: "Roboto";
    font-size: 20px;
}

.login_password {
    display: flex;
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 10px;
    gap: 5px;
    width: 280px;
}

.info_message {
    text-align: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-align: center;
}

.login_input {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.login {
    text-align: center;
}

#name, #password, #message {
    background-color: rgb(245,245,245);
}

#message {
    width: 100%;
}

.password_input {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.enter_buttons {
    display: flex;
    justify-content:space-around;
    width: 280px;
}

.chat_users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.enter_button, .register_button, #submit_message {
    font-size: 15px;
    background-color: rgb(3,0,130);
    color: rgb(245,245,245);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.enter_button:hover, .register_button:hover {
    transform: scale(1.1);
}

.messageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(0,0,15);
}

.chat_window {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 85vh;
    width: 80vw;
    border: 1px solid rgb(3,0,99);
}

.message_submit {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(3,0,99);
    padding: 10px;
    gap: 5px;
}

.users {
    width: 30vh;
    height: 85vh;
    border: 1px solid rgb(3,0,99);
    background-color: rgb(0,0,15);
}

.users_header {
    text-align: center;
    border-bottom: 1px solid rgb(3,0,99);
    padding: 5px;
}

.users_online {
    text-align: center;
}

.user {
    cursor: pointer;
    transition: all 0.3s ease;
}

.user:hover {
    color: blue;
}

.receivers_chat {
    display: flex;
    height: 100%;
    overflow-y: auto;
}

.chat {
    display: none;
    padding: 0px 3px;
    width: 100%;
    overflow-x: hidden;
    word-break: break-all;
}

.receivers {
    width: 150px;
    text-align: center;
    border-right: 1px solid rgb(3,0,99);
}

.receiver {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(3,0,99);
    padding: 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.receiver:hover {
    color: blue;
}

.active_receiver {
    color: blue;
}

.active_chat {
    display: block;
}

.message {
    margin-top: 10px;
}

.not_readed {
    animation-name: colorChange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes colorChange {
    0% {
        color: blue;    
    }
    100% {
        color: white;
    }
}